@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 40px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* 

MOBILE NAV

*/

.menu__btn {
    display: none;
    font-size: 24px;
    margin-top: 24px;
    margin-right: 12px;
}

.fa-x {
    position: absolute;
    top: 45px;
    right: 18px;
    color: #fff;
    font-size: 24px;
}

.mobile__menu {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(22, 152, 102);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    transition: all 1s ease;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.mobile-nav__li {
    list-style: none;
    margin: 12px 0;
}

.mobile-nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.mobile__phone--li {
    margin-top: 24px;
}

.open-menu .mobile__menu {
    visibility: visible;
    opacity: 1;
}

/* 

NAV

*/

.top__bar {
    background-color: green;
    width: 100%;
    height: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 12px 80px;
    padding-bottom: 24px;
    border-bottom: 1px solid green;
}

.logo {
    width: 100%;
    height: 100%;
    max-width: 300px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.nav__li {
    list-style: none;
    padding: 12px 24px;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    transition: all 800ms ease;
}

.nav__link:hover {
    color: green;
    font-size: 20px;
}

.phone__number {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: green;
    height: 100%;
    border-radius: 24px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: all 800ms ease;
}

.phone__number:hover {
    transform: scale(1.1);
    background-color: transparent;
    border-color: green;
    color: green;
    cursor: alias;
}

/* 

HEADER

*/

header {
    background-image: url(./assets/background.png);
    background-size: 150%;
    background-repeat: no-repeat;
    height: 70vh;
}

.header__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.header__title {
    color: green;
    text-align: center;
    font-size: 40px;
}

.video {
    width: 100%;
}


/* 

SECONDARY PAGES

*/

.secondary__pages--background {
    background-color: #55b88a7c;
}

.secondary__pages--nav {
    margin-bottom: 0;
}


/* 

SERVICES PAGE

*/


.services__content {
    height: 100%;
    padding-top: 80px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service {
    padding: 24px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.service__img {
    width: 100%;
    max-width: 200px;
    border-radius: 24px;
}

.service__para {
    margin-bottom: 24px;
}

.service__btn, .gallery__cta--btn {
    padding: 12px 24px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 24px;
    transition: all 400ms ease;
}

.service__btn:hover, .gallery__cta--btn:hover {
    background-color: transparent;
    border: 1px solid green;
    color: green;
}

.gallery__cta--title {
    padding: 12px 0;
}

.gallery__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 48px 0;
    margin: 80px 0;
    border-radius: 48px;
}


/* 

GALLERY

*/

.gallery__content {
    display: flex;
    flex-wrap: wrap;
}

.gallery__img {
    width: calc(100% / 3);
    padding: 12px;
}



/* 

CONTACT

*/

.contact__row {
    max-width: 500px;
}

.contact__content {
    height: 70vh;
    margin-top: 80px;
}

.contact__title {
    text-align: center;
}

.contact__info {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.contact__info--details {
    text-align: right;
}

.contact__img {
    width: 100%;
    margin-top: 72px;
}
/* 

FOOTER

*/

footer {
    background-color: rgba(70, 144, 92, 0.7);
}
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__link--list {
    display: flex;
    justify-content: space-between;
}

.footer__link--li {
    list-style: none;
    padding: 24px;
}

.footer__link {
    text-decoration: none;
    color: #fff;
}

.footer__names {
    text-align: center;
}

.footer__tag--link {
    text-decoration: none;
}


.footer__logo {
    width: 100%;
    height: 100%;
    max-width: 240px;
}

/* 

RESPONSIVENESS

*/

@media (max-width: 1470px) {
    header {
        background-size: 150%;
    }
}

@media (max-width: 1250px) {
    nav {
        justify-content: space-between;
        margin: 12px 0;
    }

    header {
        background-size: 250%;
    }

    .menu__btn {
        display: flex;
    }

    .nav__list {
        display: none;
    }
}


@media (max-width: 768px) {
    .logo {
        max-width: 200px;
        margin-top: 14px;
        margin-left: 8px;
    }

    .phone__number {
        font-size: 14px;
    }

    .phone__number:hover {
        transform: none;
    }
    
    header {
        background-size: 300%;
    }

    .header__row {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    
    .video {
        width: 100%;
        max-width: 300px;
        margin-top: 72px;
    }

    .services {
        flex-direction: column;
    }

    .services__content {
        height: 100%;
        padding: 0 12px;
    }

    .gallery__cta {
        max-width: 450px;
        margin: 80px auto;
    }

    .gallery__img {
        width: 50%;
    }

    .contact__content {
        max-width: 300px;
        margin: 0 auto;
    }

    .contact__info {
        flex-direction: column;
    }

    .address {
        text-align: center;
    }

    .contact__info--details {
        text-align: center;
        margin-top: 24px;
    }

    .contact__img {
        margin-top: 24px;
    }

    .footer__link--li {
        padding: 24px 12px;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-top: 12px;
        max-width: 150px;
    }

    .header__title {
        font-size: 35px;
    }
}

@media (max-width: 344px) {
    .logo {
        max-width: 120px;
    }
}

