@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 40px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* 

MOBILE NAV

*/

.menu__btn {
    display: none;
    font-size: 24px;
    margin-top: 24px;
    margin-right: 12px;
}

.fa-x {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
}

.mobile__menu {
    display: none;
    height: 100vh;
    background-color: rgb(22, 152, 102);
    justify-content: center;
    align-items: center;
    position: relative;
    animation: slide-in 1s ease;
    overflow: hidden;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-nav__li {
    list-style: none;
    margin: 12px 0;
}

.mobile-nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.mobile__phone--li {
    margin-top: 24px;
}

.open-menu .mobile__menu {
    display: flex;
}

.open-menu nav, .open-menu .top__bar {
    display: none;
}

.close-menu .mobile__menu {
    animation: slide-out 1s ease;
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* 

NAV

*/

.top__bar {
    background-color: green;
    width: 100%;
    height: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 12px 80px;
    padding-bottom: 24px;
    border-bottom: 1px solid green;
}

.logo {
    width: 100%;
    max-width: 300px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.nav__li {
    list-style: none;
    padding: 12px 24px;
}

.nav__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    transition: all 800ms ease;
}

.nav__link:hover {
    color: green;
    font-size: 20px;
}

.phone__number {
    margin-top: 12px;
    padding: 12px 24px;
    background-color: green;
    height: 100%;
    border-radius: 24px;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    transition: all 800ms ease;
}

.phone__number:hover {
    transform: scale(1.1);
    background-color: transparent;
    border-color: green;
    color: green;
    cursor: alias;
}

/* 

HEADER

*/

header {
    background-image: url(./assets/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.header__row {
    display: flex;
    margin-top: 80px;
}

.header__text {
    width: 50%;
    padding: 24px;
    margin-right: 24px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.7);
}

.header__title {
    color: green;
}

.header__subtitle {
    padding: 12px 0;
}

.video {
    width: 50%;
}

/* 

HEADER SERVICES

*/

.header__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.header__services--title {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 12px;
    border-radius: 24px;
    color: green;
}

.header__services--list {
    display: flex;
    justify-content: center;
}

.header__service {
    list-style: none;
    margin: 24px;
    padding: 24px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 24px;
}

.header__service--img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.header__service--title {
    text-align: center;
    padding: 8px 0;
}

.header__service--para {
    font-size: 14px;
    width: 100%;
    max-width: 100px;
    text-align: center;
}

@media (max-width: 1470px) {
    header {
        background-size: 150%;
    }
}

@media (max-width: 1250px) {
    nav {
        justify-content: space-between;
        margin: 12px 0;
    }

    header {
        background-size: 250%;
    }

    .header__services--list {
        flex-wrap: wrap;
    }

    .header__service {
        width: calc(100% / 4);
    }

    .menu__btn {
        display: flex;
    }

    .nav__list {
        display: none;
    }
}


@media (max-width: 768px) {
    .logo {
        width: 100%;
        max-width: 180px;
    }

    .phone__number {
        font-size: 14px;
    }

    .phone__number:hover {
        transform: none;
    }
    
    header {
        background-size: 300%;
    }

    .header__row {
        flex-direction: column;
        align-items: center;
        margin-top: 24px;
    }

    .header__text {
        width: 100%;
        max-width: 300px;
        margin: 0 48px;
        text-align: center;
    }
    
    .video {
        width: 100%;
        max-width: 300px;
        margin-top: 24px;
    }

    .header__services--title {
        font-size: 21px;
    }

    .header__services--list {
        flex-direction: column;
        align-items: center;
    }

    .header__service {
        width: 300px;
        background-color: rgba(6, 136, 19, 0.7);
    }

    .header__service--img {
        width: 100px;
        height: 100px;
    }
    .header__service--para {
        max-width: 240px;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100%;
        max-width: 140px;
    }
}


